# Ignore Python virtual environment folder
venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment configuration files
.env

# Ignore system files
.DS_Store

# Ignore test json responses
jsonresponses/

credentials/